







<!DOCTYPE html>
<html>
  <head>
    <title>Regex App</title>
  </head>
  <center>
    <br><br><br><br><br><br><br><br><br>
<body bgcolor="FFFFFF">
    <h1>Welcome to Regex101 Duplicate</h1>
    <h2>Internship Project developed by Vamsi tallapudi</h2>
    <form action="/result" method="post">
      <label for="text">Insert the target text:</label>
      <textarea id="text" name="text"></textarea>
      <br>
      <label for="pattern">Provide Regular Expression (Regex):</label>
      <input type="text" id="pattern" name="pattern">
      <br>
      <button type="Submit">Start Searching</button>
    </form>
  </body>
</html>