
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      </head>
      
<body>
	<header>
		<h1 style="text-align: center;">URL Shortener</h1> 

		<nav>
			<ul>
				<li><a href="{{ url_for('Home') }}">Home</a></li>
				<li><a href="{{ url_for('History') }}">History</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>
		<p>&copy; 2023 URL Shortener</p>
	</footer>
</body>
</html>